<footer>
  <div class="copyright">
     <div class="container">
        <div class="row">
           <div class="col-md-8">
              <p><img width="40" src="images/logo.png" alt="#" style="margin-top: -5px;" /> Tous droit réservés. MadaMarket © 2025</p>
           </div>
           <div class="col-md-4">
              <ul class="list-inline socials">
                 <li>
                    <a href="https://www.facebook.com/sarobidy.fifaliana.520">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                 </li>
                 <li>
                    <a href="ssarobidyfifaliana@gmail.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                 </li>
                 <li>
                    <a href="https://www.linkedin.com/in/fifaliana-sarobidy-94b86b352">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                 </li>
                 <li>
                     <a href="https://pin.it/xuEx04NzQ">
                     <i class="fa fa-pinterest" aria-hidden="true"></i>
                     </a>
                  </li>
              </ul>

           </div>
        </div>
     </div>
  </div>
</footer>
