.btnAbonner{
    color: #40ff59;;
}

.btnClick{
    color: #007506;
}
.slide {
    /* background-color: #007506; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* max-width: fit-content; */
    /* justify-content: center; */
    /* gap: 10px; */
  
  }

.small-box-c:hover{
    /* border-top: 1px solid black;
    border-bottom: none; */
    border: none;
    background-color: #1c94fd1f;
}