.produits {
    padding: 40px 0px 60px 0px;
    background: #fff;
    position: relative;
  
  }
  .main-produits h2 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    color: #09294c;
    padding-bottom: 30px;
    font-size: 14px;
    text-align: center;
  }
  /*contenant les div*/
  .slide {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    justify-content: center;
    gap: 20px;
  
  }
    /*position: relative;*/
  
  .produit-box {
    border: 1px solid #e7e7e7;
    background: #ffffff;
    padding: 10px;
    width: fit-content;
    /* transition: transform 0.3s ease-in-out; */
  }
  .produit-i img {
    width: 250px;
    height: 230px;
    margin-bottom: 5px;
  
  }
  .produit-box:hover {
    /* transform: scale(1.1); */
    border-bottom: 5px solid #1c94fdaf;
    
  }
  
  .left-ti {
    float: left;
  }
  
  .dit-t {
    padding: 7px 0px;
  }
  
  .dit-t h4 {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #333333;
    margin-bottom: 3px;
    margin-top: 3px;
  }
  
  .dit-t p {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #acacac;
    margin: 0px;
  }
  
  .dit-t p span {
    color: #2da0ff;
  }
  
  .dit-t a {
    background: #ffffff;
    border: 1px solid #ccd4da;
    border-radius: 2px;
    color: #09294c;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: right;
    padding: 6px 15px;
  }
  #prixProd{
    background: #ffffff;
    border: 1px solid #ccd4da;
    border-radius: 2px;
    color: #09294c;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    float: right;
    padding: 6px 15px;
  }
  .dit-btn a {
    background: #ffffff;
    border: 1px solid #ccd4da;
    border-radius: 2px;
    color: #a5a5a5;
    font-size: 11px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding: 6px 15px;
  }
  
  .dit-btn a:hover {
    color: #1c95fd;
  }
  
  .wis {
    float: left;
  }
  
  .thi {
    float: right;
  }
  
  .dit-btn {
    padding-top: 10px;
  }
  
  .dit-btn a i {
    padding-right: 6px;
  }
  
